html {
    font-size: 62.5% !important;
}

.container {
    display: flex;
}

.sidebar {
    width: 350px;
    height: 100vh;
    background: #f0f0ff;
    border-right: 4px solid #ddd;
    position: fixed;
    &::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 100vh;
        background: #bbb;
        right: 0;
        top: 0;
        bottom: 0;
    }
    &::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100vh;
        background: #333;
        right: -5px;
        top: 0;
        bottom: 0;
    }
    &__list {
        margin-top: 55px;
        margin-left: 43px;
        .disabled {
            pointer-events: none;
            color: #666;
            text-decoration: none;
        }
        li {
            list-style: none;
            position: relative;
            font-size: 1.6rem;
            &:not(:first-of-type) {
                margin-top: 32px;
            }
            &:nth-child(1) {
                &::before {
                    background: #ffcccc;
                }
            }
            &:nth-child(2) {
                &::before {
                    background: #00ff00;
                }
            }
            &:nth-child(3) {
                &::before {
                    background: #33ffff;
                }
            }
            &:nth-child(4) {
                &::before {
                    background: #0099ff;
                }
            }
            &:nth-child(5) {
                &::before {
                    background: #0000ff;
                }
            }
            &:nth-child(6) {
                &::before {
                    background: #333399;
                }
            }
            &:nth-child(7) {
                &::before {
                    background: #cc00cc;
                }
            }
            &::before {
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                left: -17px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
}

.main {
    margin-left: 350px;
    width: 100%;
    min-width: 1250px;
    height: 100vh;
    &.top {
        background: url("~assets/images/abehiroshi.jpg") repeat;
    }
    &.movie {
        background: url("~assets/images/movie.jpg") repeat;
    }
    .conts {
        width: 1250px;
        margin: 25px auto;
        display: flex;
        p,
        dl {
            font-size: 1.6rem;
            word-break: break-word;
        }
    }
    .leftBlock {
        width: 350px;
    }
    .rightBlock {
        width: calc(900px - 15px);
        margin-left: 15px;
        .infoTitle {
            text-align: center;
            margin-bottom: 115px;
        }
        dl {
            padding: 7px 0 14px;
        }
        dt {
            font-size: 1.6rem;
            font-weight: bold;
            margin-bottom: 5px;
            margin-left: 7px;
            padding-left: 10px;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                width: 3px;
                height: 3px;
                background: #333;
                border-radius: 50%;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
        dd {
            margin-left: 80px;
            font-weight: bold;
            &:not(:last-of-type) {
                margin-bottom: 33px;
            }
        }
    }
}

.title01 {
    margin-top: 45px;
    text-align: center;
    font-weight: bold;
    font-size: 3.2rem;
}

.title02 {
    margin-top: 43px;
    text-align: center;
    font-weight: bold;
    font-size: 2.4rem;
}

.table {
    width: 700px;
    margin: 30px auto 20px;
    border: 1px solid #333;
    border-collapse: separate;
    display: table;
    tr {
        border: 1px solid #333;
        display: table-row;
        &:not(:first-of-type) {
            margin-top: 2px;
        }
    }
    td {
        font-size: 1.6rem;
        font-weight: bold;
        border: 1px solid #333;
    }
}

.list {
    font-size: 1.8rem;
    width: 700px;
    font-weight: bold;
    margin: 23px auto 0;
    li {
        position: relative;
        list-style: none;
        padding-left: 10px;
        &::before {
            position: absolute;
            content: "";
            width: 3px;
            height: 3px;
            background: #333;
            border-radius: 50%;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}

.dlList01 {
    padding: 24px;
    margin-bottom: 35px;
    font-size: 1.6rem;
    &__item {
        display: flex;
        line-height: 1.4;
        &:not(:first-of-type) {
            margin-top: 5px;
        }
    }
    dd {
        margin-left: 10px;
    }
}

.dlList02 {
    margin-top: 30px;
    &__item {
        display: flex;
        &:not(:first-of-type) {
            margin-top: 5px;
        }
    }
}

.mailTxt {
    margin-top: 30px;
}
